@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$boxshadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$boxyhover: 0 0 10px 5px rgba(230, 255, 110, 0.7);
$purple: #732091;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    //border: 1px solid red;
}
body {
    background-color: darkGrey;
}
.container {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 10px auto;
}
.header {
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
}
.gameboard {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 15px;
    background-color: lightGrey;
    max-width: 490px;
}
.rules,
.mobileRules {
  margin-left: auto;
    margin-right: auto;
  display: flex;
  flex-direction: column;
    width: 70%;
    max-width: 490px;
    margin: 5px auto;
    text-align: justify;
}
#rules {
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 3px auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 70vw;
    max-width: 490px;
    height: 15vh;
    height: auto;
}
.puck,
.current-player {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid black;
    margin: 0 5px;
    background-color: lavender;
    color: #000;
    &.purple {
        background-color: purple;
    }
    &.yellow {
        background-color: lightYellow;
    }
}
.misc {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 490px;
}
.timing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 21px;
    #reset,
    .timer-container {
        padding: 7px;
        border-radius: 10px;
        margin: 3px 7px;
    }
    .timer-container {
        width: 90px;
    }
}

.players,
h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 57px;
    .checkWrap {
        height: 21px;
        width: 21px;
    }
    .current-player {
        margin-right: 11px;
    }
    .checkmark {
        height: 21px;
        width: 21px;
        padding: 2px;
    }
}
h2 {
    align-items: center;
}
.hide {
    display: none;
}
.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 490px;
    padding: 15px;
    color: #000;
    text-align: center;
    background-color: lavender;
    border: 2px solid $purple;
    border-radius: 5px;
    line-height: 20px;
    a {
        text-decoration: none;
        color: $purple;
        &:hover {
            text-decoration: underline;
        }
    }
}
@media screen and (min-width: 370px) {
    .mobileRules {
        display: none;
    }
}
@media screen and (max-width: 370px) {
    .rules {
        display: none;
    }
}
